<!-- section about -->
                            <section id="sec1">
                                <!-- container -->
                                <div class="container">
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span>אודות</span></div>
                                        <h3>מי אני </h3>
                                        <h2>אודות</h2>
                                        <div class="st-separator"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5 ">
                                            <div class="about-iamge">
                                                <img src="images/about.jpg" alt="" class="respimg">
                                            </div>
                                        </div>
                                        <div class="col-sm-7 align-text">
                                            <h4 class="text-subtitle">שמואל דישראלי</h4>
                                            <h3 class="text-title">מתכנת - יזם</br><span>מפתח</span> אתרים ואפליקציות</h3>
                                            <div class="clearfix"></div>
                                            <p>
                                                מפתח אתרים עצמאי שחי ונושם את עולם האינטרנט, ומאד אוהב את מה שהוא עושה.
                                            </p>
                                            <p> 
                                                יש לי קליטה מהירה ואני מאד נהנה ללמוד דברים חדשים.
                                                אני אדם יצירתי מאד המתאפין בחשיבה חדשנית מחוץ לקופסה. 
                                            </p>
                                            <p>
                                                ניחנתי באינטלגנציה רגשית ברמה גבוה בעזרתה אני מצליח להבין את הצרכים של הלקוחות שלי יותר טוב ואת הצרכים של משתמשי האתרים שאני מפתח.
                                            </p>
                                            
                                            <!-- <a href="portfolio.html" class="btn hide-icon"><i class="fa fa-angle-right"></i><span>תיק עבודות</span></a>	 -->
                                        </div>
                                    </div>
                                </div>
                                <!-- container end  -->
                            </section>
                            <!-- section end -->