                            <!-- section clients -->
                            <section  id="sec5">
                                <div class="container">
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span>Clients</span></div>
                                        <h3>Testimonials</h3>
                                        <h2>Clients</h2>
                                        <div class="st-separator"></div>
                                    </div>
                                    <div class="single-slider-holder">
                                        <div class="customNavigation">
                                            <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                            <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                        </div>
                                        <div class="single-slider owl-carousel testimonials-slider">
                                            <!-- 1 -->
                                            <div class="item">
                                                <div class="testi-item">
                                                    <div class="testi-item-img"><img src="images/testimonials/1.jpg" alt="" class="respimg"></div>
                                                    <div class="testi-item-text">
                                                        <h3>Mike Jones</h3>
                                                        <p> " Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. Allamco laboris nisi ut aliquip ex ea commodo consequat. Aser velit esse cillum dolore eu fugiat nulla pariatur. "</p>
                                                        <a href="#">Via Twitter</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 2 -->
                                            <div class="item">
                                                <div class="testi-item">
                                                    <div class="testi-item-img"><img src="images/testimonials/2.jpg" alt="" class="respimg"></div>
                                                    <div class="testi-item-text">
                                                        <h3>Mery Lynn</h3>
                                                        <p> "Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. Allamco laboris nisi ut aliquip ex ea commodo consequat. Aser velit esse cillum dolore eu fugiat nulla pariatur. "</p>
                                                        <a href="#">Via Facebook</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 3 -->
                                            <div class="item">
                                                <div class="testi-item">
                                                    <div class="testi-item-img"><img src="images/testimonials/3.jpg" alt="" class="respimg"></div>
                                                    <div class="testi-item-text">
                                                        <h3>Ann Frideck</h3>
                                                        <p> "Allamco laboris nisi ut aliquip ex ea commodo consequat. Aser velit esse cillum dolore eu fugiat nulla pariatur. "</p>
                                                        <a href="#">Via Myspace</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- section end  -->