<!--=============== section contacts ===============-->
                            <section id="sec5">
                                <div class="container">
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span>צור קשר</span></div>
                                        <h3>השאירו לי הודעה </h3>
                                        <h2>צור קשר</h2>
                                        <div class="st-separator"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12"> 
                                            <div class="align-text">
                                                <h3 class="text-title"></h3>
                                                <div class="clearfix"></div>
                                                <div class="row">
                                                    <div id="contact-p" class="col-md-8 col-sm-6 col-sm-offset-1">
                                                        <p>
                                                            אם אתם צריכים אתר או שיש לכם רעיון לתוכנה שירות או לכל פרויקט אחר באינטרנט, השאירו הודעה ואחזור אליכם בהקדם האפשרי.       
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- contact info 
                                    <div class="contact-info">
                                        <ul>
                                            <li><a href="#"> <i class="fa fa-phone"></i> +7(111)123456789</a></li>
                                            <li><a href="#"><i class="fa fa-envelope-o"></i> yourmail@domain.com</a></li>
                                        </ul>
                                    </div>
                                    -->
                                    <!-- contact form -->
                                    
                                        <div id="contact-form">

                                            
                                            <div class="row">

                                                <form  autocomplete="off"   name="contactform" id="contactform" >

                                                <div class="col-sm-9 col-xs-12">
                                                    <input name="formName" type="text" id="name" placeholder="&#xe074;  שם" required >
                                                </div>

                                                <div class='col-sm-9 col-xs-12'>
                                                    <input  name="_replyto" type="text" id="formMail"  placeholder="&#xe002;  דואר אלקטרוני" required>
                                                </div>
                                                

                                                <div class='col-sm-9 col-xs-12'>
                                                    <input  name="phone" type="text" id="formPhone"  placeholder="&#xe601;  טלפון" required>
                                                </div>

                                                <div class='col-sm-9 col-xs-12'>
                                                    <input name="url" type="text" id="formURL"  placeholder="&#xe005;  כתובת האתר" >
                                                </div>

                                                <div class='col-sm-9 col-xs-12'>
                                                    <input  name="time" type="text" id="formWhen"  placeholder="&#xe014;  מתי אפשר לדבר" >
                                                </div>

                                                <div class='col-sm-9 col-xs-12'>
                                                    <textarea name="comments"  id="comments" placeholder="&#xe029;  תוכן ההודעה..." ></textarea>
                                                </div>

                                                <input type="text" name="_gotcha" style="display:none" />

                                                <div class=" col-sm-9 col-xs-12">
                                                    <input type="submit" class="send_message transition" id="submit" value=" &#xe070; שלח הודעה" />
                                                </div>
                                            

                                            </form>
                                        </div>
                                    </div>
                                </div>          
                            </section>
                            <!-- section end -->