                            <!--=============== section resume  ===============-->	
                            <section  id="sec2">
                                <div class="container">
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span>השכלה</span></div>
                                        <h3>עוד קצת רקע </h3>
                                        <h2>השכלה </h2>
                                        <div class="st-separator"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="accordion" data-name="">
                                        <!-- 1 - visible-->
                                        <!-- 2 -->
                                        <div class="accordion-title transition ">
                                            <h5><a id="Education-1"> <i class="fa fa-graduation-cap"></i> 2015 <span>  TeamTreeHouse.com</span></a></h5>
                                        </div>

                                        <div  class="accordion-inner row">
                                            <div class="col-sm-10 col-sm-offset-2">
                                                <h4 >פיתוח אתרים בצד לקוח</h4>
                                                <div class="st-separator"></div>
                                            </div>  
                                            <div class="clearfix"></div>

                                            <div class="col-sm-10 col-sm-offset-2">
                                                <ul>
                                                    <li><i class="fa fa-check-square-o"></i> Git </li>
                                                    <li><i class="fa fa-check-square-o"></i> jQuery </li>
                                                    <li><i class="fa fa-check-square-o"></i> Sass </li>
                                                    <li><i class="fa fa-check-square-o"></i> Responsive Web Design </li>
                                                </ul>
                                                
                                                <p>
                                                    מקצועיות לפני הכל אני לומד באופן קבוע באתר מקצועי של קורסים בפיתוח אתרים
                                                    עד כה למדתי שם בעיקר קורסים בפיתוח עבור צד הלקוח.

                                                    </br>
                                                         Responsive web design, עיצוב אתרים המתאימים את עצמם לכל גדלי המסך.
                                                    
                                                    </br>
                                                        Sass קומפיילר לכתיבת קוד CSS ברמה מקצועית יותר.
                                                    
                                                    </br>
                                                        CSS FramWorks: Zurb Foundation-5, twiter Botstrap
                                                    
                                                    </br>
                                                        jQuery, ספרית ג'אוה סקריפט המשמשת להוסיף אינטראקטיביות לאתר.
                                                    
                                                    </br>
                                                        SEO, קידום אתרים במנועי החיפוש (גוגל).
                                                    

                                                    </br>
                                                        ועוד...

                                                    </br>
                                                        כמו כן למדתי והתנסתי בכלי פיתוח תוכנה מתקדמים כמו Git ו- Grunt.  
                                                    

                                                </p>
                                            </div>
                                        </div>
                                        <!-- 3 -->
                                        <div class="accordion-title transition ">
                                            <h5><a id="Education-2"> <i class="fa fa-university"></i> 2014-2015 <span>  המכון הטכנולוגי חולון</span></a></h5>
                                        </div>
                                        <div  class="accordion-inner row">
                                            <div class="col-sm-10 col-sm-offset-2">
                                                <h4 >קורס הנדסת תוכנה ב- PHP</h4>
                                                <div class="st-separator"></div>
                                            </div>
                                            <div class="clearfix"></div>

                                            <div class="col-sm-10 col-sm-offset-2">
                                                <ul>
                                                    <li><i class="fa fa-check-square-o"></i> OOP </li>
                                                    <li><i class="fa fa-check-square-o"></i> MVC- CodeIgniter </li>
                                                    <li><i class="fa fa-check-square-o"></i> ORM- RedBeen </li>
                                                    <li><i class="fa fa-check-square-o"></i> REST- Slim </li>
                                                </ul>
                                                <p>
                                                    קורס מקצועי ברמה גבוה מאד המתרכז בטכנולוגית צד שרת בשפת PHP 
                                                    קורס רחב הקף להכשרת מפתחי PHP אשר מתמקד כל כולו בפיתוח הקוד שרץ בצד השרת.
                                                    הקורס מתמקד בכל הנוגע לפיתוח מונחה עצמים תוך שימוש ביכולות שיש לשפת התיכנות PHP תוך כדי כיסוי של הנושאים שמופיעים במבחן ההסמכה Zend Certified PHP Developer (והרבה מעבר לכך) ותוך כדי רכישת ידע וניסיון מעשי בפיתוח צד השרת ב- MVC תוך כדי שימוש ב Codeigniter. הקורס כולל את כל החידושים האחרונים שהופיעו ב PHP בגרסאות 5.3, 5.4 ו 5.5
                                                </p>
                                            </div>
                                        </div>

                                        <!-- 
                                        <div class="accordion-title transition ">
                                            <h5><a id="Education-3"> <i class="fa fa-suitcase"></i> 2013-2014 <span> תורת החיים </span></a></h5>
                                        </div>
                                        <div class="accordion-inner row">
                                            <div class="col-sm-10 col-sm-offset-2">
                                                <h4>מנהל אתרים</h4>
                                                <div class="st-separator"></div>
                                            </div>
                                            <div class="clearfix"></div>

                                            <div class="col-sm-10 col-sm-offset-2">
                                                <ul>
                                                    <li><i class="fa fa-check-square-o"></i> HTML </li>
                                                    <li><i class="fa fa-check-square-o"></i> CSS </li>
                                                    <li><i class="fa fa-check-square-o"></i> PHP </li>
                                                </ul>
                                                <p>

                                                    אתר קורסים בסיסי בו רכשתי את הידע הבסיסי להקמת אתר ולמדתי את שפות התכנות: HTML, CSS, PHP.
                                                </p>
                                                <p>
                                                    הלימוד כלל הסברים והדרכות בכתב והרבה תרגול מעשי של השימוש בשפות.
                                                </p>
                                            </div>

                                        </div>
                                        3 -->


                                        <!-- 4 -->
                                        <div class="accordion-title transition ">
                                            <h5><a id="Education-3"> <i class="fa fa-book"></i> 2013-2014 <span> CodeCademy.com </span></a></h5>
                                        </div>
                                        <div class="accordion-inner row">
                                            <div class="col-sm-10 col-sm-offset-2">
                                                <h4>מספר קורסים בסיסיים בבנית אתרים</h4>
                                                <div class="st-separator"></div>
                                            </div>
                                            <div class="clearfix"></div>

                                            <div class="col-sm-10 col-sm-offset-2">
                                                <ul>
                                                    <li><i class="fa fa-check-square-o"></i> HTML </li>
                                                    <li><i class="fa fa-check-square-o"></i> CSS </li>
                                                    <li><i class="fa fa-check-square-o"></i> PHP </li>
                                                </ul>
                                                <p>

                                                    אתר קורסים בסיסי בו רכשתי את הידע הבסיסי להקמת אתר ולמדתי את שפות התכנות: HTML, CSS, PHP.
                                                </p>
                                                <p>
                                                    הלימוד כלל הסברים והדרכות בכתב והרבה תרגול מעשי של השימוש בשפות.
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- section end -->