                    <!--=============== hero-wrapper ===============-->
                    <div class="hero-wrapper">
                        <div class="section-parallax" data-top-bottom="transform: translateY(450px);" data-bottom-top="transform: translateY(-450px);">
                            <div class="media-container">
                                <div class="bg" style="background-image:url(images/bg/16.jpg)"></div>
                                <div class="overlay"></div>
                            </div>
                            <div class="hero-title">
                                <div class="hero-wrap" data-top-bottom="transform: translateY(-150px);" data-bottom-top="transform: translateY(150px);">
                                    <h3><a href="#sec1" class="custom-scroll-link">שמואל דישראלי</a></h3>
                                    <div class="clearfix"></div>
                                    <h4><a href="#sec1" class="custom-scroll-link">מפתח אתרים </a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- hero-wrapper  end -->