<!--=============== navigation ===============-->
                    <div class="nav-inner isDown">
                        <div class="nav-decor nav-decor-tl"></div>
                        <div class="nav-decor nav-decor-br"></div>
                        <div class="overlay"></div>
                        <nav>
                            <ul>

                                 <li>
                                    <a href="index.html#sec1" class="custom-scroll-link">אודות</a>
                                </li>
                                <li>
                                    <a href="index.html#sec2" class="custom-scroll-link">השכלה</a>
                                </li>
                                <li>
                                    <a href="index.html#sec3" class="custom-scroll-link">שירותים</a>
                                </li>
                                <li>
                                    <a href="index.html#sec4" class="custom-scroll-link">כישורים</a>
                                </li>
                                <li>
                                    <a href="index.html#sec5" class="custom-scroll-link">צור קשר</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- navigation  end -->