<!-- scroll page navigation -->
                        <div class="scroll-nav-holder">
                            <nav class="scroll-nav">
                                <ul>
                                    <li><a class="scroll-link fbgs" href="#sec1" data-bgscr="images/bg/long/sun-run.jpg" data-bgtex="אודות"><span>אודות</span></a></li>
                                    <li><a class="scroll-link" href="#sec2" data-bgscr="images/bg/long/study2.jpg" data-bgtex=" השכלה"><span>השכלה</span></a></li>
                                    <li><a class="scroll-link" href="#sec3" data-bgscr="images/bg/long/service2.jpg" data-bgtex=" שירותים"><span>שירותים</span></a></li>
                                    <li><a class="scroll-link" href="#sec4" data-bgscr="images/bg/long/skill.jpg" data-bgtex=" כישורים"><span>כישורים</span></a></li>
                                    <li><a class="scroll-link" href="#sec5" data-bgscr="images/bg/long/contact3.jpg" data-bgtex=" צור קשר"><span>צור-קשר</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- scroll page navigation end -->