<!-- section services -->
                            <section  id="sec3">
                                <!-- container-->
                                <div class="container">
                                    <!-- section title -->
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span>שירותים</span></div>
                                        <h3>מה אני עושה</h3>
                                        

                                        <h2>שירותים</h2>
                                        <div class="st-separator"></div>

                                        <div class="clearfix"></div>
                                        <div class="row">
                                            
                                            <div class="col-md-8 col-sm-7 col-sm-offset-1">

                                                <p class="spacer">
                                                    עולם האינטרנט מתחדש כל הזמן ומצריך הרבה ידע ונסיון כדי לייצר אתרי אינטרנט טובים, שמשיגים תוצאות טובות:
                                                    עיצוב גרפי שמרשים, עיצוב ממשק וחוית משתמש שגורמים ללקוחות לחזור, התאמה לגלישה בניידים, הן מבחינה ויזואלית הן מבחינת חווית גלישה, וביצועים מהירים גם בחיבור אינטרנט חלש, 
                                                    קידום האתר בגוגל כדי שיוצג בתוצאות הראשונות, 
                                                    ועוד...
                                                </p>
                                                <P>
                                                    אני מפתח את האתרים שלי תוך התיחסות לכל הנקודות הללו מתוך מטרה להוציא לקוח מרוצה  עם אתר שבאמת משרת את הצרכים שלו ובמחיר שפוי.   
                                                </P>
                                                <a id="servicesMoInfo" class="btn hide-icon next-slide"><i class="fa fa-info-circle"></i><span>למידע נוסף</span></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- section title end  -->
                                    <!-- 2 -->
                                    <div class="carous-holder ser-carous-holder">
                                        <div id="carousel-nav" class="customNavigation">
                                            <a id="carousel-nav" class="next-slide transition">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                            <a class="prev-slide transition">
                                                <i class="fa fa-angle-left"></i>
                                            </a>                                          
                                        </div>
                                        <div class="clearfix"></div>
                                        <div  class="owl-carousel services-carusel">
                                            <!-- 1 item -->
                                            <div class="item col-resize">
                                                <div class="services-box box-item-holder">
                                                    <div class="grid-item-holder services-image">
                                                        <!-- <a class="image-popup box-popup" href="images/services/1.jpg"><i class="fa fa-expand"></i></a> -->
                                                        <div class="folio-img"> 
                                                             
                                                            <img  src="images/services/1.jpg"  alt="">
                                                        </div>
                                                    </div>
                                                    <div class="services-box-info">
                                                        <h3 >יעוץ</h3>
                                                        <p>שירות יעוץ לעצמאים ולארגונים איך לרתום את האינטרנט לטובת העסק השירות כולל פגישת היכרות פיתוח תוכנית שיווק ופרסום ובמקרים מסוימים המרה של שירותים ומוצרים לאינטרנט
                                                        </p>
                                                        <ul>
                                                            <li>פגישת היכרות</li>
                                                            <li>מחקר</li>
                                                            <li>כתיב תוכנית</li>
                                                            <li>הצגת התוכנית</li>
                                                        </ul>
                                                        <!-- <div class="price">50$-600$</div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 2 item -->
                                            <div class="item col-resize">
                                                <div class="services-box box-item-holder">
                                                    <div class="grid-item-holder services-image">
                                                        <!-- <a class="image-popup box-popup" href="images/services/2.jpg"><i class="fa fa-expand"></i></a> -->
                                                        <div class="folio-img"> 
                                                             
                                                            <img  src="images/services/2.jpg"  alt="">
                                                        </div>
                                                    </div>
                                                    <div class="services-box-info">
                                                        <span class="services-decor"></span>
                                                        <h3 >קידום אתרים SEO</h3>
                                                        <p>
                                                            השירות כולל כתיבת תוכנית קידום מבוססת על מילות החיפוש שרלושנטיות לעסק שלכם ערכית תוכן האתר
                                                        </p>
                                                        <ul>
                                                            <li>Concept</li>
                                                            <li>Design</li>
                                                            <li>Flayers</li>
                                                            <li>Research</li>
                                                        </ul>
                                                        <div class="clear"></div>
                                                        <!-- <div class="price">20$-300$</div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 3 item -->
                                            <div class="item col-resize">
                                                <div class="services-box box-item-holder">
                                                    <div class="grid-item-holder services-image">
                                                        <!-- <a class="image-popup box-popup" href="images/services/4.jpg"><i class="fa fa-expand"></i></a> -->
                                                        <div class="folio-img"> 
                                                             
                                                            <img  src="images/services/4.jpg"  alt="">
                                                        </div>
                                                    </div>
                                                    <div class="services-box-info">
                                                        <span class="services-decor"></span>
                                                        <h3 >בנית אתרים</h3>
                                                        <p>אני אבנה לכם אתר אינטרנט יפה ומעוצב, מותאם לכל גדלי המסכים, 
                                                        ידידותי למנועי חיפוש ובעל ביצועים מהירים,
                                                        על פי האפיון שנכתוב יחד </p>
                                                        <ul>
                                                            <li>אפיון</li>
                                                            <li>פיתוח תשתית לאתר</li>
                                                            <li>עיצוב</li>
                                                            <li>הזנת תוכן</li>
                                                            
                                                        </ul>
                                                        <div class="clear"></div>
                                                        <!-- <div class="price">350$-1600$</div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 4 item -->
                                            <div class="item col-resize">
                                                <div class="services-box box-item-holder">
                                                    <div class="grid-item-holder services-image">
                                                        <!-- <a class="image-popup box-popup" href="images/services/3.jpg"><i class="fa fa-expand"></i></a> -->
                                                        <div class="folio-img"> 
                                                             
                                                            <img  src="images/services/3.jpg"  alt="">
                                                        </div>
                                                    </div>
                                                    <div class="services-box-info">
                                                        <span class="services-decor"></span>
                                                        <h3 > עיצוב אתרים</h3>
                                                        <p>שרותי עיצוב אתר וחווית משתמש השירות כולל כתיבת כל הקוד של צד הלקוח לאתר מתוך אפיון וקווים מנחים לעיצוב שנכתוב יחדיו</p>
                                                        <ul>
                                                            <li>פגישת אפיון</li>
                                                            <li>כתיבת צד הלקוח</li>
                                                            <li></li>
                                                            <li></li>
                                                        </ul>
                                                        <div class="clear"></div>
                                                        <!-- <div class="price">350$-1600$</div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 5 item -->
                                            <div class="item col-resize">
                                                <div class="services-box box-item-holder">
                                                    <div class="grid-item-holder services-image">
                                                        <!-- <a class="image-popup box-popup" href="images/services/5.jpg"><i class="fa fa-expand"></i></a> -->
                                                        <div class="folio-img"> 
                                                             
                                                            <img  src="images/services/5.jpg"  alt="">
                                                        </div>
                                                    </div>
                                                    <div class="services-box-info">
                                                        <span class="services-decor"></span>
                                                        <h3 > ניהול אתרים</h3>
                                                        <p>אני אנהל לכם את האתר הזנת תוכן וקידום האתר בגוגל השירות מיעוד לבעלי עסקים וארגונים שצריכם לעדכן את האתר שלהם על ביסיס קבוע ורוצים לקדמו אבל לא רוצים להעסיק מנהל אתר במשרה מלאה או אדם חסר נסיון וידע בתחום</p>
                                                        <ul>
                                                            <li></li>
                                                            <li></li>
                                                            <li></li>
                                                            <li></li>
                                                        </ul>
                                                        <div class="clear"></div>
                                                        <!-- <div class="price">350$-1600$</div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- container end  -->
                            </section>
                            <!-- section end  -->