<!-- section services -->
                            <section  id="sec3">
                                <!-- container-->
                                <div class="container">
                                    <!-- section title -->
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span>שירותים</span></div>
                                        <h3>מה אני עושה</h3>
                                        

                                        <h2>שירותים</h2>
                                        <div class="st-separator"></div>

                                        <div class="clearfix"></div>
                                        <div class="row">
                                            
                                            <div class="col-md-8 col-sm-7 col-sm-offset-1">

                                                <p class="spacer">
                                                    עולם האינטרנט מתחדש כל הזמן ודורש מאיתנו הרבה ידע ונסיון כדי לייצר אתרי אינטרנט     טובים, שבאמת משיגים תוצאות טובות: עיצוב גרפי שמרשים, עיצוב ממשק וחוית משתמש     שגורמים ללקוחות לחזור, התאמה לגלישה בניידים, הן מבחינה ויזואלית הן מבחינת חווית     גלישה, וביצועים מהירים גם בחיבור אינטרנט חלש, קידום האתר בגוגל כדי שיוצג    בתוצאות הראשונות, הגנה מפני האקרים ועוד...
                                                </p>
                                                <P>
                                                    אני מפתח את כל האתרים שלי תוך התיחסות לכל המרכיבים שעושים אתר מנצח מתוך מטרה להוציא לקוח מרוצה  עם אתר שבאמת משרת את הצרכים שלו.
                                                </P>
                                                <a id="servicesMoInfo" class="btn hide-icon next-slide"><i class="fa fa-info-circle"></i><span>עוד שירותים</span></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- section title end  -->
                                    <!-- 2 -->
                                    <div class="carous-holder ser-carous-holder">
                                        <div id="carousel-nav" class="customNavigation">
                                            <a id="carousel-nav" class="next-slide transition">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                            <a class="prev-slide transition">
                                                <i class="fa fa-angle-left"></i>
                                            </a>                                          
                                        </div>
                                        <div class="clearfix"></div>
                                        <div  class="owl-carousel services-carusel">
                                            <!-- 1 item -->
                                            <div class="item col-resize">
                                                <div class="services-box box-item-holder">
                                                    <div class="grid-item-holder services-image">
                                                        <!-- <a class="image-popup box-popup" href="images/services/1.jpg"><i class="fa fa-expand"></i></a> -->
                                                        <div class="folio-img"> 
                                                             
                                                            <img  src="images/services/1.jpg"  alt="">
                                                        </div>
                                                    </div>
                                                    <div class="services-box-info">
                                                        <h3 >יעוץ</h3>
                                                        <p>
                                                             איעץ לכם איך לקדם את עסק שלכם באינטרנט, ואיך לשפר את הנוכחות האינטרנטית שלכם.
                                                        </p>
                                                        
                                                        <div class="clear"></div>
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 2 item -->
                                            <div class="item col-resize">
                                                <div class="services-box box-item-holder">
                                                    <div class="grid-item-holder services-image">
                                                        <!-- <a class="image-popup box-popup" href="images/services/2.jpg"><i class="fa fa-expand"></i></a> -->
                                                        <div class="folio-img"> 
                                                             
                                                            <img  src="images/services/2.jpg"  alt="">
                                                        </div>
                                                    </div>
                                                    <div class="services-box-info">
                                                        <span class="services-decor"></span>
                                                        <h3 >קידום אתרים SEO</h3>
                                                        <p>
                                                            אקדם את האתר שלכם במנועי החיפוש ואביא אתכם לתוצאה טובה בגוגל
                                                        </p>
                                                        
                                                       <div class="clear"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 3 item -->
                                            <div class="item col-resize">
                                                <div class="services-box box-item-holder">
                                                    <div class="grid-item-holder services-image">
                                                        <!-- <a class="image-popup box-popup" href="images/services/4.jpg"><i class="fa fa-expand"></i></a> -->
                                                        <div class="folio-img"> 
                                                             
                                                            <img  src="images/services/4.jpg"  alt="">
                                                        </div>
                                                    </div>
                                                    <div class="services-box-info">
                                                        <span class="services-decor"></span>
                                                        <h3 >בנית אתרים</h3>
                                                        <p>
                                                            אבנה לכם אתר מותאם לכל סוגי המסכים הדפדפנים עם טעינה מהירה וקידום אתרים בסיסי
                                                        </p>
                                                        
                                                        <div class="clear"></div>                                                  
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 4 item -->
                                            <div class="item col-resize">
                                                <div class="services-box box-item-holder">
                                                    <div class="grid-item-holder services-image">
                                                        <!-- <a class="image-popup box-popup" href="images/services/3.jpg"><i class="fa fa-expand"></i></a> -->
                                                        <div class="folio-img"> 
                                                             
                                                            <img  src="images/services/3.jpg"  alt="">
                                                        </div>
                                                    </div>
                                                    <div class="services-box-info">
                                                        <span class="services-decor"></span>
                                                        <h3 > עיצוב אתרים</h3>
                                                        <p>
                                                            אעצב לכם אתר עם חווית משתמש מרשימה מותאמת לכל גדלי המסכים
                                                        </p>
                                                        
                                                        <div class="clear"></div>
                                                        <!-- <div class="price">350$-1600$</div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 5 item -->
                                            <div class="item col-resize">
                                                <div class="services-box box-item-holder">
                                                    <div class="grid-item-holder services-image">
                                                        <!-- <a class="image-popup box-popup" href="images/services/5.jpg"><i class="fa fa-expand"></i></a> -->
                                                        <div class="folio-img"> 
                                                             
                                                            <img  src="images/services/5.jpg"  alt="">
                                                        </div>
                                                    </div>
                                                    <div class="services-box-info">
                                                        <span class="services-decor"></span>
                                                        <h3 > ניהול אתרים</h3>
                                                        <p>
                                                            אנהל לכם את האתר ואדאג שהאתר שלכם יהיה פעיל יעיל אינטראקטיבי ומתחדש ויגרום ללקוחות לחזור
                                                        </p>
                                                        
                                                        <div class="clear"></div>
                                                        <!-- <div class="price">350$-1600$</div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- container end  -->
                            </section>
                            <!-- section end  -->