                            <!-- section skills -->
                            <section class="small-pad" id="sec4">
                                <!-- container -->
                                <div class="container">
                                    <!-- section title -->
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span>כישורים</span></div>
                                        <h3>כישורים עיקרים</h3>
                                        <h2>כישורים</h2>
                                        <div class="st-separator"></div>
                                    </div>
                                    <!-- section title end -->
                                    <!-- circle skills -->
                                    <div class="piechart-holder animaper" data-skcolor="#8F8F8F">
                                                <div class="skills-description ">
                                                    <h4 class="col-md-3">צד לקוח</h4>
                                                </div>
                                        <div class="row">
                                            <!-- chart item -->
                                            <div class="piechart col-md-3">
                                                <span class="chart" data-percent="80">
                                                <span class="percent"></span>
                                                </span>
                                                <div class="clearfix"></div>

                                            </div>
                                            <div class="col-md-8">
                                                <div class="skillbar-box animaper">
                                                    <!-- skill 1-->
                                                    <div class="custom-skillbar-title"><span>HTML -SEO-Frindley & Clean Code </span>
                                                    <span></span></div>
                                                    <div class="skill-bar-percent">95%</div>
                                                    <div class="skillbar-bg" data-percent="95%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill 2-->
                                                    <div class="custom-skillbar-title">
                                                    <span>CSS -Sass, Bootstrap, Fuondation-5</span>
                                                   
                                                    </div>
                                                    <div class="skill-bar-percent">85%</div>
                                                    <div class="skillbar-bg" data-percent="85%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill 3-->
                                                    <div class="custom-skillbar-title"><span>Java Script -jQuery</span><span></span></div>
                                                    <div class="skill-bar-percent">75%</div>
                                                    <div class="skillbar-bg" data-percent="75%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skills-description">
                                                    <h4 class="col-md-3">צד שרת</h4>
                                                </div>
                                        <div class="row">
                                            <!-- chart item -->
                                            <div class="piechart col-md-3">
                                                <span class="chart" data-percent="80">
                                                <span class="percent"></span>
                                                </span>
                                                <div class="clearfix"></div>
                                                
                                            </div>
                                            <div class="col-md-8">
                                                <div class="skillbar-box animaper">
                                                    <!-- skill 1-->
                                                    <div class="custom-skillbar-title"><span>PHP - OOP+ Codeigniter + Slim</span></div>
                                                    <div class="skill-bar-percent">90%</div>
                                                    <div class="skillbar-bg" data-percent="90%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill 2-->
                                                    <div class="custom-skillbar-title"><span>CMS -</span>
                                                        <span>jekyll</span>
                                                    </div>
                                                    <div class="skill-bar-percent">85%</div>
                                                    <div class="skillbar-bg" data-percent="85%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill 3-->
                                                    <div class="custom-skillbar-title"><span>git</span></div>
                                                    <div class="skill-bar-percent">60%</div>
                                                    <div class="skillbar-bg" data-percent="80%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skills-description">
                                                    <h4 class="col-md-3">כללי</h4>
                                                </div>
                                        <div class="row">
                                            <!-- chart item -->
                                            <div class="piechart col-md-3">
                                                <span class="chart" data-percent="85">
                                                <span class="percent"></span>
                                                </span>
                                                <div class="clearfix"></div>
                                                
                                            </div>
                                            <div class="col-md-8">
                                                <div class="skillbar-box animaper">
                                                    <!-- skill 1-->
                                                    <div class="custom-skillbar-title"><span>עיצוב חווית משתמש UI/UX</span></div>
                                                    <div class="skill-bar-percent">65%</div>
                                                    <div class="skillbar-bg" data-percent="65%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill 2-->
                                                    <div class="custom-skillbar-title"><span>Responsive Web Design</span></div>
                                                    <div class="skill-bar-percent">95%</div>
                                                    <div class="skillbar-bg" data-percent="95%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill 3-->
                                                    <div class="custom-skillbar-title"><span>SEO</span></div>
                                                    <div class="skill-bar-percent">60%</div>
                                                    <div class="skillbar-bg" data-percent="60%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  skills end-->
                                </div>
                                <!-- container end-->
                            </section>
                            <!-- section end  -->